body{
    background-image: url('https://media.traveler.es/photos/61375f78d4923f67e298dfab/master/w_640,c_limit/212380.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    background-color: black;
}   
.semaforo {
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin: 50px auto;
    border-radius: 10px;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 8px 0;
    transition: all 0.3s ease 
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.verde {
    background-color: green;
}
.nuevo{
    background-color: blueviolet;
}

.encendido {
    box-shadow: 0px 0px 15px 8px white;
    transform: scale(1.05);
}
.boton {
    
    background-color: rgba(228, 222, 222, 0.6);
    border-radius: 60px;
    bottom: 20px;
    cursor: pointer;
   
    padding: 12px 30px;
   
}
.boton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 50px; 
}